node_modules/
www/
.pnpm-local/
*.log
.DS_Store
ios/App/Pods/
ios/App/DerivedData/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
.capture-profile*/
.pnpm-store/
.pnpm-home/
.pnpm-cache/
.npm-cache/
.config/
app-store-screenshots/
PARA-SUBIR-A-APPLE/
PARA-SUBIR-A-APPLE-6.9/
android/.gradle/
android/local.properties
android/app/build/
android/build/
android/app/google-services.json
